:root {
    /* queste sono variabili*/
    --header-image: url('/assets/header.png');
    --bg-image: url('/assets/mainbackground.png');
    --dark-colour: #2d1e2d;
    --light-colour: #3c3544;
    --lightlilac: rgb(195, 182, 210);
}
#favourites {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    background-color: var(--dark-colour);
}
#favourites > * {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid transparent;
    text-align: center;
    }
.favething {
    width: 100%;
    height: auto;
    align-self: flex-end;
}
.sizetest {
    width: 230px;
}