#favourites {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    background-color: var(--dark-colour);
    align-items: flex-end;
}
#favourites > * {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid transparent;
    text-align: center;
    }
.favething {
    width: 100%;
    height: auto;
    align-self: flex-end;
}
#blinkies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
#blinkies img {transition: 0.5s ease;}
#blinkies img:hover {transform: scale(1.2);}