.shelf {
    display: block;
    border: solid 0.5px transparent;
    margin: 0 auto;
    max-width: 1500px;
}
.book {
    border: solid 0.8px transparent;
    display: inline-block;
    width: 220px;
    height: auto;
    vertical-align: top;
    /* padding: 30px 20px 10px 20px; */
    margin: 20px -5px;

}

/* .book:hover {border: solid 1px;} */

.book img {height: 300px;}
.book img:hover {
    /* border: solid 5px; */
    /* height: 320px; */
    box-shadow: 0px 0px 70px 1px var(--lightest-colour);
    margin: 0 auto;
    cursor: url("/assets/icons/pointerstar64.png") 5 5, pointer !important;
}

summary {
    cursor: pointer;
    display: inline; 
    color: transparent;
    padding: 5px;
    cursor: url("/assets/icons/pointerstar64.png") 5 5, pointer !important;
}
p {
    color: antiquewhite;
}
details {
  display: block
}
.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: white; */
    border-top: dashed 1px transparent;
}
h1 {
    font-size: 52px;
}