.buttonwall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 840px;
    margin: 0 auto;
}
.buttonwall a img:hover {
    box-shadow: 0px 0px 20px 1px var(--lightlilac);
}
a:link{color: var(--lightlilac);}
a:visited{color: var(--lightlilac);}
